<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonatatwig/css/sticker_style.css') }}">
        {% block head %}
            <title>{{ class }} {{ object.id }} data</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <table>
                <tr>
                    <th>{{ class|upper }} NUMBER:</th>
                    <th>LINK:</th>
                </tr>
                <tr align="center">
                    <td>
                        <span style="font-size:100px; font-weight: bold">{{ object.id }}</span>
                    </td>
                    <td>
                        <img src="frame.png" alt="Girl in a jacket" width="200" height="200">
                    </td>
                </tr>
                <tr>
                    <th>FROM:</th>
                    <th>TO:</th>
                </tr>
                <tr style="font-size:24px">
                    <td>
                        <span>
                            HELP UKRAINE OSWEGO NY<br>
                            217 Murray St.<br>
                            Oswego, NY 13126<br>
                            858-337-3742 (Anton Chertkovsky)
                        </span>
                    </td>
                    <td>
                        {% if object.receiver %}
                        <span>
                            {{ object.receiver.address }}<br>
                            {{ object.receiver.name }}<br>
                            {{ object.receiver.phoneNumber }}
                        </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">CONTENT:</th>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if class == "Box" %}
                            {% for category in object.categories %}
                                {{ category.categoryName }},
                            {%  endfor %}
                        {% else %}
                            {% set names = [] %}
                                {% for box in object.boxes %}
                                    {% for category in box.categories %}
                                        {% if category.categoryName not in names %}
                                            {% set names = names|merge([category.categoryName]) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {{ names|join('; ') }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endblock %}
    </body>
</html>